-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: vss
-- ------------------------------------------------------
-- Server version	5.5.5-10.6.22-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `vss`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `vss` /*!40100 DEFAULT CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci */;

USE `vss`;

--
-- Table structure for table `vss_reports`
--

DROP TABLE IF EXISTS `vss_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vss_reports` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `USER_ID` varchar(255) NOT NULL,
  `TITLE` varchar(500) NOT NULL,
  `DESCRIPTION` text DEFAULT NULL,
  `CONTENT` longtext NOT NULL,
  `WORD_COUNT` int(11) DEFAULT 0,
  `VIDEO_IDS` text DEFAULT NULL,
  `VIDEO_TITLES` text DEFAULT NULL,
  `CREATED_AT` timestamp NOT NULL DEFAULT current_timestamp(),
  `UPDATED_AT` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ID`),
  KEY `idx_user_id` (`USER_ID`),
  KEY `idx_created_at` (`CREATED_AT`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vss_reports`
--

LOCK TABLES `vss_reports` WRITE;
/*!40000 ALTER TABLE `vss_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `vss_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vss_summaries`
--

DROP TABLE IF EXISTS `vss_summaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vss_summaries` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `VIDEO_ID` varchar(255) NOT NULL,
  `USER_ID` varchar(255) NOT NULL,
  `PROMPT` longtext NOT NULL,
  `SUMMARY_TEXT` longtext NOT NULL,
  `CREATED_AT` timestamp NOT NULL DEFAULT current_timestamp(),
  `UPDATED_AT` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ID`) USING BTREE,
  UNIQUE KEY `unique_video_summary` (`VIDEO_ID`,`USER_ID`) USING BTREE,
  KEY `idx_user_id` (`USER_ID`) USING BTREE,
  KEY `idx_video_id` (`VIDEO_ID`) USING BTREE,
  KEY `idx_created_at` (`CREATED_AT`) USING BTREE,
  CONSTRAINT `vss_summaries_ibfk_1` FOREIGN KEY (`USER_ID`) REFERENCES `vss_user` (`ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=539 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vss_summaries`
--

LOCK TABLES `vss_summaries` WRITE;
/*!40000 ALTER TABLE `vss_summaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `vss_summaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vss_user`
--

DROP TABLE IF EXISTS `vss_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vss_user` (
  `ID` varchar(50) NOT NULL COMMENT '?ъ슜??怨좎쑀 ID',
  `PW` varchar(60) NOT NULL COMMENT 'bcrypt濡??댁떆?붾맂 鍮꾨?踰덊샇',
  `EMAIL` varchar(255) NOT NULL COMMENT '?ъ슜???대찓??二쇱냼',
  `CREATED_AT` timestamp NOT NULL DEFAULT current_timestamp() COMMENT '怨꾩젙 ?앹꽦?쇱떆',
  `UPDATED_AT` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '怨꾩젙 ?뺣낫 ?섏젙?쇱떆',
  `PROFILE_IMAGE_URL` varchar(500) DEFAULT NULL,
  `ROLE` varchar(20) NOT NULL DEFAULT 'USER',
  `APPROVED` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `EMAIL` (`EMAIL`),
  KEY `idx_email` (`EMAIL`),
  KEY `idx_user_email` (`EMAIL`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='VSS ?뚯썝 ?뺣낫 ?뚯씠釉?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vss_user`
--

LOCK TABLES `vss_user` WRITE;
/*!40000 ALTER TABLE `vss_user` DISABLE KEYS */;
INSERT INTO `vss_user` VALUES ('intvix','$2b$12$tPp8.SRDRX1xxcb8d3O7IOM.MHQGacoXNeL4ptG1PPmULWFLwBCNS','jhpark@intellivix.ai','2025-12-05 04:52:42','2026-02-10 05:02:11','/profile-images/intvix_1766364190178.png','ADMIN',0),('jpumkin','$2b$12$Fv9aR.fkEmaT.TaVt8.nwe/nUrjYwBT4Xpy5Mtn57iJ7oIIABhV8G','xx4x66x4xx@gmail.com','2025-12-05 05:01:05','2026-02-10 05:48:20','/profile-images/jpumkin_1766128566142.png','USER',1),('testuser1','$2b$12$Bn/WvZzzhGuzr8PIcp8TcO43tB54IpFDjTD0uw4AMXZv5HE5nKtY.','hohyoo0526@gmail.com','2025-12-22 02:11:33','2025-12-22 02:23:57',NULL,'USER',0);
/*!40000 ALTER TABLE `vss_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vss_videos`
--

DROP TABLE IF EXISTS `vss_videos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vss_videos` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `USER_ID` varchar(50) NOT NULL,
  `VIDEO_ID` varchar(255) DEFAULT NULL,
  `FILE_NAME` varchar(255) NOT NULL,
  `FILE_PATH` varchar(500) NOT NULL,
  `FILE_SIZE` bigint(20) DEFAULT NULL,
  `FILE_URL` varchar(500) NOT NULL,
  `WIDTH` int(11) DEFAULT NULL,
  `HEIGHT` int(11) DEFAULT NULL,
  `DURATION` float DEFAULT NULL,
  `CREATED_AT` timestamp NOT NULL DEFAULT current_timestamp(),
  `UPDATED_AT` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ID`) USING BTREE,
  KEY `idx_user_id` (`USER_ID`) USING BTREE,
  KEY `idx_created_at` (`CREATED_AT`) USING BTREE,
  KEY `idx_video_id` (`VIDEO_ID`) USING BTREE,
  KEY `idx_videos_user_id` (`USER_ID`) USING BTREE,
  KEY `idx_videos_user_filename` (`USER_ID`,`FILE_NAME`) USING BTREE,
  KEY `idx_videos_created_at` (`CREATED_AT`) USING BTREE,
  KEY `idx_videos_via_video_id` (`VIDEO_ID`) USING BTREE,
  CONSTRAINT `vss_videos_ibfk_1` FOREIGN KEY (`USER_ID`) REFERENCES `vss_user` (`ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=824 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vss_videos`
--

LOCK TABLES `vss_videos` WRITE;
/*!40000 ALTER TABLE `vss_videos` DISABLE KEYS */;
/*!40000 ALTER TABLE `vss_videos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-10 15:49:47
